{# templates/about.html.twig #}
{% extends 'base.html.twig' %}
{% block body %}
    <body {{ include('style.html.twig') }}
        <div class="container">
            {{ include('nav.html.twig') }}
            <div class="row mt-5">
                <div class="col-2"></div>
                <div class="col-8 text-center bg-light opacity-75 rounded-3">
                    <p><a style="font-size: 18px;" href={{ path('questions') }}>Occasionally asked questions</a></p>
                    <p><a style="font-size: 18px;" href={{ path('neigbors') }}>Meet Your Neighbors</a></p>
                    <p><a style="font-size: 18px;" href="https://app.townsq.io/login">Go to TownSq login</a></p>
                    <!-- https://app.townsq.io/login -->
                </div>
            </div>
        </div>
{% endblock %}