            <nav class="navbar navbar-expand-lg m-2 rounded-4 justify-content-center" style="background-color: #D6F4E5;">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
                            <li class="nav-item px-lg-5 px-sm-3 px-1">
                                <a class="nav-link active" style="color:#2922EB;" aria-current="page" href="/index.html">Home</a>
                            </li>
                            <li class="nav-item dropdown px-lg-5 px-sm-3 px-1">
                                <a class="nav-link dropdown-toggle-split" style="color:#2922EB;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Governance
                                </a>
                                <ul class="dropdown-menu" style="background-color: #D6F4E5;">
                                    <li><a class="dropdown-item" href="/governance/people.html">People</a></li>
                                    <li><a class="dropdown-item" href="/governance/documents.html">Documents</a></li>
                                    <li><a class="dropdown-item" href="/governance/budget.html">Budget</a></li>
                                    <li><a class="dropdown-item" href="/governance/calendar.html">Calendar</a></li>
                                </ul>
                            </li>
                            <li class="nav-item px-lg-5 px-sm-3 px-1">
                                <a class="nav-link" style="color:#2922EB;" href="/contact/contact.html">Contact</a>
                            </li>
                            <li class="nav-item px-lg-5 px-sm-3 px-1">
                                <a class="nav-link" style="color:#2922EB;" href="/about_us/about.html">About us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
