{% extends 'base.html.twig' %}
{% block body %}
<body {{ include('style.html.twig') }}
    <div class="container">
        {{ include('nav.html.twig') }}
        <div class="row mt-5">
            <div class="col-2"></div>
            <div class="col-8 bg-light opacity-75 rounded-3">
                <h4 class="text-center">Financial Statements</h4>
                <p>All financial information can be found at <a href="https://app.townsq.io" target="_blank">TownSq</a>, which requires a homeowner's login. See the <a href="../contact/contact.html">Contact page</a>
                for assistance creating an account. Each document can be found in <a href="https://app.townsq.io" target="_blank">TownSq's</a> Documents > Homeowner Financials folder.</p>
            </div>
        </div>
    </div>
{% endblock %}